@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #cacad8;
}

.scrollbar-show::-webkit-scrollbar {
  display: block;
}

.scrollbar-x-hidden::-webkit-scrollbar {
  height: 0px;
}