.content > * {
  animation-name: fadeSlideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeSlideIn {
  from {
      opacity: 0;
      transform: translateY(10%);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.success g {
  stroke: #16a34a;
}

.icon circle,
.icon polyline,
.icon line {
  animation: icon-loader 1s ease-in-out forwards;
  transition: stroke 0.6s;
}

.circle {
  stroke-dashoffset: 69.12;
  transform: rotate(-90deg);
  transform-origin: 12px 12px;
}
.polyne {
  stroke-dashoffset: 14.2;
}

.line {
  stroke-dashoffset: 10;
}

.icon:nth-child(2) {
  animation-delay: 0.25s;
}

.icon:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes icon-loader {
  to {
      stroke-dashoffset: 0;
  }
}
